/*.csv
/.idea
.ipynb_checkpoints
/data/train
/data/fashion-mnist_test.csv
/data/fashion-mnist_train.csv
/data/t10k-images-idx3-ubyte
/data/t10k-labels-idx1-ubyte
/data/train-images-idx3-ubyte
/data/train-labels-idx1-ubyte
